.footer {
  height: 64px;
  background-color: #afb42b;
  color: #000;
}

.credits {
  margin: 0 auto;
}

.credits p {
  font-weight: 500;
  text-align: center;
}

.credits p span {
  color: #0373d4;
}

@media (max-width: 768px) {
  .credits {
    margin-top: 20px;
  }
  .credits p {
    font-size: x-small;
  }
}
