.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8vh;
  width: 100%;
  background-color: #afb42b;
  color: #000;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
}

.credits {
  margin: 20px auto;
}

.credits p {
  font-weight: 500;
  text-align: center;
}

.credits p span {
  color: #0373d4;
}

@media (max-width: 768px) {
  .credits {
    margin-top: 20px;
  }
  .credits p {
    font-size: x-small;
  }
}
